.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 72px 32px 0px 32px;
  padding-top: 72px;
  padding-bottom: 72px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1360px;
  gap: 36px;
}

.total {
  display: flex;
  align-items: center;
  gap: 12px;
}

.total span {
  font-weight: 600;
  font-size: 18px;
  color: #4d5053;
}

.cardsArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 64px;
  width: 100%;
}
