.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 16px 32px;
  border-bottom: 2px solid #00000040;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1360px;
}

.content a {
  font-weight: 400;
  font-size: 16px;
  color: #414040;
}

.content a:hover {
  color: #ff0100;
  text-decoration: underline;
}

@media screen and (max-width: 784px) {
  .header {
    height: 70px;
  }
}
